USE [LROSAS]
GO
/****** Object:  Table [dbo].[_WEB_EVENTOS]    Script Date: 05/07/2019 14:46:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_WEB_EVENTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_USUARIO] [int] NULL,
	[title] [nchar](50) NULL,
	[details] [nchar](250) NULL,
	[date] [nchar](10) NULL,
	[Tipo] [int] NULL,
	[Encargado] [nchar](20) NULL,
	[Estado] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_WEB_ROL]    Script Date: 05/07/2019 14:46:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_WEB_ROL](
	[idrol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[condicion] [bit] NULL,
 CONSTRAINT [PK___web_rol__24C6BB20C9C23222] PRIMARY KEY CLUSTERED 
(
	[idrol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[_WEB_USUARIO]    Script Date: 05/07/2019 14:46:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_WEB_USUARIO](
	[idusuario] [int] IDENTITY(1,1) NOT NULL,
	[idrol] [int] NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[tipo_documento] [varchar](20) NULL,
	[num_documento] [varchar](20) NULL,
	[direccion] [varchar](70) NULL,
	[telefono] [varchar](20) NULL,
	[email] [varchar](50) NOT NULL,
	[password_hash] [varbinary](max) NOT NULL,
	[password_salt] [varbinary](max) NOT NULL,
	[condicion] [bit] NULL,
 CONSTRAINT [PK___web_usu__080A9743E3D329D8] PRIMARY KEY CLUSTERED 
(
	[idusuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[_WEB_EVENTOS] ON 

INSERT [dbo].[_WEB_EVENTOS] ([ID], [ID_USUARIO], [title], [details], [date], [Tipo], [Encargado], [Estado]) VALUES (1, 3006, N'Normalizacion Tabla Giro Capital                  ', N'Restructuracion Sistema Giro Capital                                                                                                                                                                                                                      ', N'2019-06-25', 3, N'Sebastian Muñoz     ', 4)
INSERT [dbo].[_WEB_EVENTOS] ([ID], [ID_USUARIO], [title], [details], [date], [Tipo], [Encargado], [Estado]) VALUES (2, 3006, N'Proceso Personas Expuestas Politicamente          ', N'Crear Modulo, Alertas , deacuerdo a las normatias UAF                                                                                                                                                                                                     ', N'2019-07-04', 3, N'Sebastian Muñoz     ', 3)
INSERT [dbo].[_WEB_EVENTOS] ([ID], [ID_USUARIO], [title], [details], [date], [Tipo], [Encargado], [Estado]) VALUES (3, 3006, N'Entrega Consejo Ciberseguridad                    ', N'Corrección política Ciberseguridad                                                                                                                                                                                                                        ', N'2019-06-25', 3, N'Rossana Cerda       ', 4)
SET IDENTITY_INSERT [dbo].[_WEB_EVENTOS] OFF
SET IDENTITY_INSERT [dbo].[_WEB_ROL] ON 

INSERT [dbo].[_WEB_ROL] ([idrol], [nombre], [descripcion], [condicion]) VALUES (1, N'Administrador', N'Administrador del Sistema', 1)
INSERT [dbo].[_WEB_ROL] ([idrol], [nombre], [descripcion], [condicion]) VALUES (2, N'Almacenero', N'Almacenero del Sistema', 1)
INSERT [dbo].[_WEB_ROL] ([idrol], [nombre], [descripcion], [condicion]) VALUES (3, N'Vendedor', N'Vendedor del Sistema', 1)
SET IDENTITY_INSERT [dbo].[_WEB_ROL] OFF
SET IDENTITY_INSERT [dbo].[_WEB_USUARIO] ON 

SET IDENTITY_INSERT [dbo].[_WEB_USUARIO] OFF
ALTER TABLE [dbo].[_WEB_EVENTOS] ADD  CONSTRAINT [DF__WEB_EVENTOS_Estado]  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[_WEB_ROL] ADD  CONSTRAINT [DF___web_rol__condic__347004CF]  DEFAULT ((1)) FOR [condicion]
GO
ALTER TABLE [dbo].[_WEB_USUARIO] ADD  CONSTRAINT [DF___web_usua__condi__3C112697]  DEFAULT ((1)) FOR [condicion]
GO
ALTER TABLE [dbo].[_WEB_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK___web_usua__idrol__3D054AD0] FOREIGN KEY([idrol])
REFERENCES [dbo].[_WEB_ROL] ([idrol])
GO
ALTER TABLE [dbo].[_WEB_USUARIO] CHECK CONSTRAINT [FK___web_usua__idrol__3D054AD0]
GO
